.myBg {
  width: 100%;
  height: 100vh;
  background: url("../assets/bg/main.png");
  background-size: cover;
}

.intro {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
  text-align: center;
}

.trending {
  height: auto;
  background: url("../assets/bg/gotg.png");
  background-size: cover;
}

.superhero {
  height: auto;
  background: url("../assets/bg/superheroBg.jpg");
  background-size: cover;
}

.moviePoster {
  margin: 5px;
  padding: 5px;
}

.posters {
  height: 500px;
}
